{% extends "blog/base.html" %}
{% block content %}
<div style="background:#FCB5F2;width:740px;height:100px;-moz-border-radius: 100px/50px;-webkit-border-radius:100px/50px;border-radius:100px/50px;"
><h5><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Ayah Khaldoon Husni Al-refai<br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Computer Engineerning</h5></div>
<br><p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Email:<a href="mailto:akalrifai15@cit.just.edu.jo">akalrifai15@cit.just.edu.jo</a></p>

<ul>
<li><h5>OBJECTIVE__________________________________________________________________</h5></li>
# To gained experience from the company’s developers and learn new skills.
<br>#I’m looking for a training with a reputable company to reach the summit and use my knowledge to
serve prestigious company and career development of scientific and practical experience.
<br>#I’m careful to grow up and gain capacity and to be useful and honest at work as well.

</ul>
<br>
<ul>
<li><h5>EDUCATION__________________________________________________________________</h5></li>
<h5>Bachelor’s degree in computer engineering
</h5>
#
Jordan University of Science and Technology
<br>#faculty of Computer and Information Technology ‘IT’

<br>#Expected graduation semester: First semester 2019/2020
<br>#Recently GPA Rank: Excellent


<br>#Cumulative GPA: ****
<br>#Graduation Project.........incomplete<br>read human brain signals [EEG] using neurosky and use this signals to control some objects
<br>#Other projects:
<br>&emsp;&emsp;&emsp;&emsp;1-TicTacToc game in python using MinMax algorithm.
<br>&emsp;&emsp;&emsp;&emsp;2-Eight-Puzzle game in python using three search algorithm DFS, BFS, A*
<br>&emsp;&emsp;&emsp;&emsp;3-Solar tracker using 16F877A PIC and mikroC programming.
<br>&emsp;&emsp;&emsp;&emsp;4-Build OS in 16-bit mode and 32-bit mode.

<br>&emsp;&emsp;&emsp;&emsp;5-Simulation for MIPS architecture using C# .Net.bbbb

</ul>
<br>
<ul>
<li><h5>COMPUTER SKILLS_____________________________________________________________</h5></li>
#Programming language(software)
<br>&emsp;&emsp;&emsp;&emsp;1-Witty in Python(All basics ,Openpyxl ,Tensorflow ,Django ,Pygame), C# .NET .

<br>&emsp;&emsp;&emsp;&emsp;2-Good in C/C++ , MATLAB ‘Image Processing’,
<br>&emsp;&emsp;&emsp;&emsp;3-Html , JAVA Script, CSS ,assembly .

<br>&emsp;&emsp;&emsp;&emsp;4-Oracle database

<br>#Microcontroller(hardware)
<br>&emsp;&emsp;&emsp;&emsp;1-Witty in Arduino and Verilog.
<br>&emsp;&emsp;&emsp;&emsp;2-Good in Pic 16F877A and I can work on any similar pic
<br>&emsp;&emsp;&emsp;&emsp;3-Microprocessor 68008
<br>#Other skills
<br>&emsp;&emsp;&emsp;&emsp;1-Interested in AI and Machin Learning.
<br>&emsp;&emsp;&emsp;&emsp;2-Computer Maintenance.

<br>&emsp;&emsp;&emsp;&emsp;3-Network ‘cisco packet tracer’.
<br>&emsp;&emsp;&emsp;&emsp;4-Autodesk AutoCAD
</ul>
<br>
<ul>
<li><h5>PERSONAL SKILLS___________________________________________________________</h5></li>

#Highly organized and efficient.

<br>#Ability to work in team or independent.
<br>#Proven leadership skills and ability to motivate.
<br>#Ability to work under deadline pressure in a last-paced environment
<br>#Problem solving
<br>#Willingness to learn new technology
<br>#Good communication skills and interpersonal skills
</ul>
<br>
<ul>
<li><h5>PROFILE__________________________________________________________________</h5></li>

#Place of birth: Irbid.
<br>#Date of birth: 7-5-1997.
<br>#Nationality: Jordanian.
<br>#Nationality: Jordanian.
<br>#Driving license: No.
</ul>
<br>
<ul>
<li><h5>LANGUAGES__________________________________________________________________</h5></li>
#Arabic (Native language).
<br>#English (B2).
<ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}

.
